* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);

  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;
  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: var(--brand-dark);
  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;
  --stroke-default: #d6d3d1;
  --stroke-highlight: var(--brand-mid);
  --semantic-error: #dc2626;
}

body {
  font: var(--text);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  body {
    overflow: hidden;
  }

  .flex {
    flex-direction: row;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }
}
