#app {
  display: grid;
}

main,
aside {
  padding: 1.5rem;
}

main {
  overflow: auto;
}

main .main-container {
  max-width: 33rem;
  margin-left: auto;
}

main .back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

main h1 {
  font: 600 1.5rem/1.25 var(--font-family);
  margin-bottom: 0.5rem;
}

aside {
  background-color: var(--surface-secondary);
  order: -1;
}

aside header {
  text-align: center;
}

aside h2,
aside p {
  display: none;
}

aside h2 {
  font: 600 2.5rem/1.25 var(--font-family);
  margin-bottom: 0.5rem;
}

aside h2 span {
  color: var(--text-highlight);
}

@media (min-width: 992px) {
  #app {
    height: 100dvh;
    overflow: hidden;
    grid-template-columns: 51.25% 48.75%;
  }

  main,
  aside {
    padding: 4rem;
  }

  aside {
    order: 0;
  }

  aside header {
    text-align: initial;
  }

  aside h2,
  aside p {
    display: block;
  }

  aside .aside-container {
    max-width: 31rem;
  }

  aside .aside-container > img {
    margin-top: 2rem;
  }
}
